.DS_Store
*.js.map
node_modules/
coverage/
npm-debug.log
stats.json
yarn-error.log

data/
db
.env
public/**/*
!public/index.html

resources/emails/*
!resources/emails/user/
resources/emails/user/*
!resources/emails/user/main-*
resources/navigation/
resources/pages/

.vscode/
copyToDemoData.sh
.github
*.log
.temp/
.temp/webhook.log
docs/openapi/generated.json
